.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.product {
  margin:100px auto;
  max-width:1280px
}
.product-table {
  width:65%;
  font-size: 25px;
  display:inline-block;
}
.product-table caption{
    font-size: 35px;
    font-family: cursive;
    box-shadow: 0 16px 8px -8px rgba(0,0,0,0.2);;
}
.product-table tr,td {
  text-align: left;
  vertical-align: baseline;
}
.product-table tr::first-letter,td::first-letter {
  text-transform: uppercase;
}
.product-table td:nth-child(1){
  font-weight: 600;
  padding-right: 10px;
}
.product-table td:nth-child(2){
  font-size: 20px;
}
.product-table td {
  padding-top: 30px;
}
.product-img {
  width:25%;
  margin-left:10px;
  float:left
}
.product-img img {
  width:100%
}
@media only screen and (max-width: 600px) {
  .product-table caption{
    font-size: 20px;
  }
  .product-table tr,td {
    font-size: 12px !important
  }
}